h1 {
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    animation-name: delante;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}

h2 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    size: 80px;
}

h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

@keyframes delante {
    0% {}

    100% {
        transform: translate(400px);
    }
}